<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>.error{
            color: red;
        }
        .post-author {
    font-style: italic;
    font-size: 12px;
}

        </style>
    </head>
<body>
    <div>
        <a href='/login'>Log in</a>
        <a href='/blog'>All Posts</a>
        <a href='/main'>All Users</a>
        <a href='/newpost'>Add Blog Post</a>
        <a href='/logout'>Log out</a>
    </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class='{{category}}'>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}
    
    
    
    
    
    {% block content %}
    {% endblock %}

</body>
</html>